.benefits-list {
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
}
.benefits-list__item {
  width: 100%;
  margin-bottom: 72px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 768px) {
    flex-basis: calc(50% - 12px);
    margin-bottom: 0;
  }
  @media (min-width: 1154px) {
    flex-basis: calc((100% - 24px * 3) / 4);
  }
}

.benefits-list__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  margin-bottom: 8px;
  background: var(--secondary-bg-color);
  border-radius: 4px;

  @media (max-width: 1157px) {
    display: none;
  }
}

.benefits-list__header {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  @media (min-width: 1158px) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.benefits-list__text {
  font-weight: 500;
  color: var(--text-color);
}
