.main-header {
  position: relative;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.nav__logo-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);

  &--blue-part {
    color: var(--main-accent-color);
  }
}

.menu-btn {
  padding: 24px 0;

  &__icon {
    display: block;
    stroke: var(--main-text-color);
  }
  @media (min-width: 768px) {
    display: none;
  }
}
.nav__menu-container {
  position: fixed;
  padding: 60px 40px 40px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  background-color: white;
  transform: translateX(100%);
  transition: transform 250ms var(--transition-func);
  &.is-open {
    transform: translateX(0);
  }
  @media (min-width: 768px) {
    position: static;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    width: auto;
    height: auto;
    padding: 0;
    transform: translateX(0);
  }
}
.nav__menu {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  @media (min-width: 768px) {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: 1158px) {
    margin-left: 76px;
  }
}
.nav__menu li {
  position: relative;
}
.nav__menu-link {
  display: inline-block;

  padding: 20px 20px 20px 0;

  @media (min-width: 768px) {
    position: relative;
    margin-right: 40px;
    padding: 24px 0;

    &.current::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -1.5px;
      width: 100%;
      height: 4px;
      background-color: var(--main-accent-color);
      border-radius: 2px;
    }
  }
}

.address {
  margin-top: auto;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 1.11;
  font-weight: 600;
  font-style: normal;

  &__link--email {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-content: center;

    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;

    &__link--email {
      font-weight: inherit;
      font-size: inherit;
      line-height: inherit;
      letter-spacing: 0.04em;
    }
  }

  @media (min-width: 1158px) {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    &__item {
      display: inline-block;
    }
    &__item:first-child {
      margin-right: 40px;
    }
    &__item:last-child {
      margin-left: -4px;
    }
  }
}
.social-network-list {
  display: flex;

  gap: 56px;
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--main-accent-color);
    border-radius: 50%;
  }
}

@media (min-width: 768px) {
  .main-header .social-network-list,
  .close-btn {
    display: none;
  }
}
