body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}

.main-container {
  padding: 0 16px;
  margin: 0 auto;
  max-width: 1158px;

  @media (min-width: 1158px) {
    padding: 0 15px;
  }
}

section {
  padding-top: 96px;
  padding-bottom: 96px;

  @media (min-width: 1158px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
