:root {
  --main-text-color: #2e2f42;
  --main-accent-color: #4d5ae5;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #f4f4fd;
  --close-btn-bg: #e7e9fc;
  --text-color: #434455;
  --transition-func: cubic-bezier(0.4, 0, 0.2, 1);
}
