:root {
  --main-text-color: #2e2f42;
  --main-accent-color: #4d5ae5;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #f4f4fd;
  --close-btn-bg: #e7e9fc;
  --text-color: #434455;
  --main-hover-color: #404bbf;
  --secondary-hover-color: #404bbf;
  --customers-cards-color: #8e8f99;

  --modal-overlay-bg: rgba(46, 47, 66, 0.4);
  --modal-bg-color: #fcfcfc;
  --close-btn-bg-color: #e7e9fc;
  --close-btn-border-color: rgba(0, 0, 0, 0.1);
  --subscr-placeholder-color: rgba(255, 255, 255, 0.6);
  --modal-form-accep-privacy-color: #757575;

  --transition-func: cubic-bezier(0.4, 0, 0.2, 1);
}

%transition-for-active-elements {
  transition: color 250ms var(--transition-func),
    background-color 250ms var(--transition-func);
}
